@font-face {
    font-family: 'Uno';
    src: url('/Bahnschrift.woff2') format('woff2');
    
  }
  
  @font-face {
    font-family: 'Dos';
    src: url('/BRODAY-Regular.woff2') format('woff2');
   
  }
  @font-face {
    font-family: 'Tres';
    src: url('/naghita.woff2') format('woff2');
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

